body {
    margin: 0;
    background-color: #13082c;
    color: white;
}
form {
}

a {
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    padding: 3%;
}
.boardlist{
    border-top: solid;
    border-bottom: solid;
    border-color: white;
    border-width: 1px;
    margin-bottom: 2%;
}
.boardcontainer{
    padding-left: 10%;
    padding-right: 10%;
    border-style: solid;
    border-color: white;
    border-width: 1px;

}
h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
    text-align: left;
    color: #039be5;
    text-decoration: underline;
}
