<!doctype html>
<head>
<title>4door error 404</title>
 <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='materialize/css/materialize.min.css')}}"  media="screen,projection"/>
 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
  <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{{url_for('static',filename='materialize/js/materialize.min.js')}}"></script>
<nav>
  <div class="nav-wrapper purple darken-4">
    <a href="/" class="brand-logo">4door</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Boards</a></li>
        <li><a href="/admin" class="waves-effect waves-light btn">Admin login</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<center>
<h4> error 404 </h4>
<button class="waves-effect waves-light btn-large" onclick="goBack()">Return to Previous page</button>

<script>
function goBack() {
    window.history.back();

